/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --primary-light: #8bb9ff;
  --primary-medium: #458fff;
  --primary-dark: #234c8b;
  --secondary-light: #baebba;
  --secondary-medium: #8ddd8d;
  --secondary-dark: #538a53;
  --tertiary-light: #8fdaea;
  --tertiary-medium: #69b6c6;
  --tertiary-dark: #206463;
  --white: #fff;
  --gray: #9a9a9a;
  --black: #2d2d2d;
  --maize: #FFCB05;
  --blue: #00274C;
  /* --font-body: "Poppins", sans-serif; */
  /* --font-title: "Poppins", sans-serif; */
  --font-body: "Lato", sans-serif;
  --font-title: "Futura", sans-serif;
}

body {
  background: black;
  color: var(--black);
  font-family: var(--font-body);
  overflow-x: hidden;
}

a {
  color: var(--primary-medium);
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: var(--gray);
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h6 {
  font-family: var(--font-title);
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Me Section
-------------- */
.me-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: black;
}

.me-content h1{
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--white);
  text-align: center;
  font-size: 35px;
}

.me-section h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--white);
  font-size: 18px;
  text-align: center;
}

.me-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  width: 15em;
  height:15em;
}

.me-content a {
  color: var(--primary-medium);
  cursor: pointer;
}

.links {
  text-align: center;
  margin-right: 40px;
}

.links li {
  display: inline-block;
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
}

.links ul {
  list-style-type: none;
}

.me-content a:hover {
  color: gray;
}

/* About Me Section
--------------------*/
.about-content {
  background: var(--blue);
  padding-top: 250px;
  padding-bottom: 250px;
  padding-right: 100px;
}

.about-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-content h3 {
  color: white;
  padding-bottom: 20px;
  font-size: 32px;
}

.about-content p {
  font-size: 16px;
  color: white;
}

.about-content a {
  color: white;
  font-weight: bold;
}

.about-content a:hover {
  color: var(--maize);
}

@media (max-width: 991px) {
  .about-content {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Timeline Section
--------------------------------*/
#timeline {
  padding-top: 250px;
  padding-bottom: 250px;
  background: #F25757;
}

#timeline h3{
  text-align: center;
  color: var(--white);
}

/* Members Testimonials Section
--------------------------------*/
#testimonials {
  padding: 60px 0;
  background: #f2f2ff;
  padding-top: 250px;
  padding-bottom: 250px;
}

#testimonials h3 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 25px;
}

#testimonials h6 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 25px;
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    text-align: center;
  }
}

#testimonials .testimonial-item {
  background-color: white;
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: var(--white);
  box-shadow: 0 10px 10px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  /* border-radius: 50%; */
  border: 4px solid var(--white);
  float: left;
  background-color: white;
}

#testimonials .testimonial-item a {
  color: var(--primary-medium);
  font-weight: 100;
}

@media (max-width: 767px) {
  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }
}

#testimonials .testimonial-item h4 {
  font-size: 20px;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h5 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  margin-left: 140px;
  padding-right: 30px;
  font-size: 16px;
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 767px) {
  #testimonials .testimonial-item h3, #testimonials .testimonial-item h4, #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: var(--primary-medium);
}

.spacing {
  margin-bottom: 50px;
}

/* Projects Section
--------------------------------*/
#projects {
  background: black;
  padding-top: 250px;
  padding-bottom: 100px;
}

#projects h3 {
  text-align: center;
  color: white;
  padding-bottom: 40px;
  font-size: 32px;
}

#projects .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: var(--white);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#projects .img img {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#projects .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#projects .title a {
  color: #111;
}

#projects .title a:hover{
  color: var(--primary-medium);
}

#projects p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

/* Classes Section
--------------------------------*/
#faq {
  padding-top: 250px;
  padding-bottom: 50px;
  overflow: hidden;
  background: black;
}

#faq h3 {
  text-align: center;
  color: white;
  padding-bottom: 20px;
  font-size: 32px;
}

#faq h4 {
  font-family: var(--font-body);
  text-align: center;
  color: gray;
  font-size: 16px;
  padding-bottom: 40px;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}


#faq #faq-list a {
  padding: 22px 0;
  display: block;
  position: relative;
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

#faq #faq-list a:hover {
  color: var(--primary-medium);
}

#faq #faq-list i {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 20px;
}

#faq #faq-list p {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: var(--font-body);
  color: gray;
}

#faq #faq-list a.collapsed {
  color: white;
  font-family: var(--font-body);
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}


/* Footer
----------- */
#footer {
  background: black;
  padding-bottom: 30px;
}

#footer p {
  text-align: center;
  font-size: 18px;
  color: var(--white);
}

/* Back to top button */
.back-to-top {
  display: none;
  /* background: var(--primary-medium); */
  /* width: 44px;
  height: 44px; */
  /* text-align: center;
  line-height: 1; */
  border-radius: 50%;
  /* right: 15px;
  bottom: 15px; */
  transition: background 0.5s;
  z-index: 11;
  padding-left: 15px;
}

.back-to-top i {
  padding-top: 12px;
  color: var(--primary-medium);
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}